[
 {rabbit, [
   {tcp_listeners, [{"127.0.0.1", 5672}]},
   {loopback_users, [<<"guest">>]}
  ]},
 {rabbitmq_management, [
   {listener, [
     {port, 12345},
     {ip, "127.0.0.1"}
    ]}
  ]},
 {rabbitmq_shovel,
  [{shovels,
    [{data,
      [{sources, [{brokers, ["amqp://localhost"]},
                  {declarations, []}]},
       {destinations, [{broker, "amqps://node:waggle@beehive:23181?cacertfile=/usr/lib/waggle/SSL/waggleca/cacert.pem&certfile=/usr/lib/waggle/SSL/node/cert.pem&keyfile=/usr/lib/waggle/SSL/node/key.pem&verify=verify_peer"},
                       {declarations, []}]},
       {queue, <<"data">>},
       {publish_fields, [{exchange, <<"data-pipeline-in">>}]}
      ]},
      {logs,
        [{sources, [{brokers, ["amqp://localhost"]},
                    {declarations, []}]},
         {destinations, [{broker, "amqps://node:waggle@beehive:23181?cacertfile=/usr/lib/waggle/SSL/waggleca/cacert.pem&certfile=/usr/lib/waggle/SSL/node/cert.pem&keyfile=/usr/lib/waggle/SSL/node/key.pem&verify=verify_peer"},
                         {declarations, []}]},
         {queue, <<"logs">>},
         {publish_fields, [{exchange, <<"logs">>}]}
        ]},
        {ep_data,
          [{sources, [{brokers, ["amqp://edgeprocessor"]},
                      {declarations, []}]},
           {destinations, [{broker, "amqp://localhost"},
                           {declarations, []}]},
           {queue, <<"data">>},
           {publish_fields, [{exchange, <<"data.fanout">>}]}
          ]},
        {images,
          [{sources, [{brokers, ["amqp://edgeprocessor"]},
                      {declarations, []}]},
           {destinations, [{broker, "amqps://node:waggle@beehive:23181?cacertfile=/usr/lib/waggle/SSL/waggleca/cacert.pem&certfile=/usr/lib/waggle/SSL/node/cert.pem&keyfile=/usr/lib/waggle/SSL/node/key.pem&verify=verify_peer"},
                           {declarations, []}]},
           {queue, <<"images">>},
           {publish_fields, [{exchange, <<"images">>}]}
          ]}
    ]},
   {defaults, [{prefetch_count,     0},
               {ack_mode,           on_confirm},
               {publish_properties, [{delivery_mode, 2}, {reply_to, <<"%NODE_ID%">>}]},
               {reconnect_delay,    60}]}
  ]}
].
