SUBSYSTEM!="usb", ACTION!="add", GOTO="rules_end"

#Product: 6 CDC-ACM Manufacturer: Telit (Multitech QuickCarrier USB-D)

SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="1bc7", ATTRS{idProduct}=="0021", SYMLINK+="attwwan%n", RUN+="/usr/bin/wvwaggle.sh",  TAG+="systemd", ENV{SYSTEMD_WANTS}="wwan.service"

LABEL="rules_end"
