[Unit]
Description=Monitors node controller status.
After=multi-user.target

[Service]
ExecStart=/usr/lib/waggle/nodecontroller/scripts/monitor-system-service

Restart=always
RestartSec=5

[Install]
WantedBy=waggle-platform.target
