[Unit]
Description=Maintains an SSH reverse tunnel on Beehive.
After=network.target

[Service]
ExecStart=/usr/lib/waggle/nodecontroller/scripts/autossh.sh

Restart=always
RestartSec=60

[Install]
WantedBy=waggle-core.target
