[Unit]
Description=ATT WWAN Client
After=multi-user.target

[Service]
ExecStart=/usr/bin/wvdial
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
