[Unit]
Description=Monitors Wagman status.
After=multi-user.target

[Service]
ExecStart=/usr/lib/waggle/nodecontroller/scripts/monitor-wagman-service

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
