[Unit]
Description=Waggle communications manager. (Deprecated?)
After=network.target

[Service]
WorkingDirectory=/usr/lib/waggle/nodecontroller/nc-wag-os/waggled/Communications
ExecStart=./communications_main.py --force --logging

Restart=Always
RestartSec=5

[Install]
WantedBy=multi-user.target
