[Unit]
Description=Opens a reverse SSH tunnel to the cloud.
After=network.target

[Service]
ExecStart=/usr/lib/waggle/nodecontroller/scripts/autossh.sh

Restart=Always
RestartSec=60

[Install]
WantedBy=multi-user.target
