[Unit]
Description=Publishes command and log data from the Wagman.
After=waggle-platform.target

[Service]
ExecStart=/usr/lib/waggle/nodecontroller/wagman/wagman-publisher.py

Restart=always
RestartSec=10

[Install]
WantedBy=waggle-platform.target
