[Unit]
Description=Listens for commands to execute on the Wagman.

[Service]
ExecStart=python3 /usr/lib/waggle/nodecontroller/wagman/wagman-server.py

Restart=Always
RestartSec=10

[Install]
WantedBy=multi-user.target
