[Unit]
Description=Monitors shutdown signals.
After=multi-user.target

[Service]
ExecStart=/usr/lib/waggle/nodecontroller/scripts/monitor-shutdown-service

Restart=always
RestartSec=5

[Install]
WantedBy=waggle-platform.target
