[Unit]
Description=Monitors Wagman status.
After=waggle-platform.target

[Service]
ExecStart=/usr/lib/waggle/nodecontroller/scripts/monitor-wagman-service

Restart=always
RestartSec=5

[Install]
WantedBy=waggle-platform.target
