[Unit]
Description=Waggle communications manager. (Deprecated?)
After=waggle-platform.target network.target

[Service]
WorkingDirectory=/usr/lib/waggle/nodecontroller/nc-wag-os/waggled/Communications
ExecStart=/usr/lib/waggle/nodecontroller/nc-wag-os/waggled/Communications/communications_main.py --force --logging

Restart=always
RestartSec=5

[Install]
WantedBy=waggle-platform.target
