[Unit]
Description=Publishes command and log data from the Wagman.

[Service]
ExecStart=python3 /usr/lib/waggle/nodecontroller/wagman/wagman-publisher.py

Restart=Always
RestartSec=10

[Install]
WantedBy=multi-user.target
