[Unit]
Description=Wagman Driver
After=waggle-platform.target

[Service]
ExecStart=/usr/bin/python3 -u /usr/lib/waggle/nodecontroller/wagman/wagman-driver.py

Restart=always
RestartSec=10

[Install]
WantedBy=waggle-platform.target
