[Unit]
Description=ATT WWAN Client
After=waggle-core.target

[Service]
ExecStart=/usr/bin/wvdial
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=30

[Install]
WantedBy=waggle-core.target
