[Unit]
Description=Routes messages to plugins within a subsystem.

[Service]
ExecStart=/usr/lib/waggle/nodecontroller/bin/plugin-message-router messages
Restart=always
RestartSec=60

[Install]
WantedBy=waggle-platform.target
