[Unit]
Description=Ensures RabbitMQ configuration files are up to date.
After=waggle-init.service
Before=rabbitmq-server.service

[Service]
Environment=HOME=/root
Type=oneshot
ExecStart=/usr/lib/waggle/nodecontroller/scripts/configure-rabbitmq.sh

[Install]
WantedBy=rabbitmq-server.service
