[Unit]
Description=Stage messages from node controller.

[Service]
ExecStart=/usr/lib/waggle/nodecontroller/bin/stage-messages-amqp amqp://localhost validate 0 amqp://localhost to-beehive
Restart=always
RestartSec=60

[Install]
WantedBy=waggle-platform.target
