[Unit]
Description=Routes messages to subsystems within a node.

[Service]
ExecStart=/usr/lib/waggle/nodecontroller/bin/node-message-router messages
Restart=always
RestartSec=60

[Install]
WantedBy=waggle-platform.target
