[Unit]
Description=node registration
After=waggle-core.target waggle-init.service network.target
Before=waggle-platform.target

[Service]
EnvironmentFile=/etc/waggle/environment
WorkingDirectory=/usr/lib/waggle/nodecontroller/scripts
ExecStart=/usr/lib/waggle/nodecontroller/scripts/registration-service --force

# keep trying if there was a fatal error during an attempt to register
Restart=on-failure
RestartSec=60

[Install]
WantedBy=waggle-core.target
