[Unit]
Description=Stage messages from edge processor.

[Service]
ExecStart=/usr/lib/waggle/nodecontroller/bin/stage-messages-amqp amqp://edgeprocessor messages 1 amqp://localhost to-beehive
Restart=always
RestartSec=60

[Install]
WantedBy=waggle-platform.target
